<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Visual Testing</title>
</head>
<body>

<form action="{% url 'visual_testing:index' %}" method="post">
    {% csrf_token %}
    <button id="Generar">Genera reporte</button>
</form>

{% if error_general %}

    Error general:<br>
    {{ error_general }}
{% else %}
    <table>
        <thead>
            <tr>
                <th>Fecha</th> <th>Imagen Base</th> <th>Imagen Modificada</th>
                <th>Diferencias</th>  <th>Información Importante</th>
            </tr>
        </thead>
        <tbody>
        {% for reporte in reportes %}
            <tr>
                <td>{{ reporte.fecha }}</td> <td><img src="{{ reporte.imagen_1 }}"></td>
                <td><img src="{{ reporte.imagen_2 }}"></td>
                <td><img src="{{ reporte.imagen_salida }}"></td>
                <td>{{ reporte.info_comparacion }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endif %}

</body>
</html>