<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Visual Testing</title>
</head>
<body>
{% if error_general %}

    Error general:<br>
    {{ error_general }}
{% else %}
    <table>
        <thead>
            <tr>
                <th>Prueba</th> <th>Resultado</th> <th>Error</th>
            </tr>
        </thead>
        <tbody>
        {% if res_cypress %}
            <tr>
                <td>cypress</td> <td>{{ res_cypress.salida }}</td> <td>{{ res_cypress.error }}</td>
            </tr>
        {% endif %}
        {% if res_resemble %}
            <tr>
                <td>resemble js</td> <td>{{ res_resemble.salida }}</td> <td>{{ res_resemble.error }}</td></tbody>
            </tr>
        {% endif %}
    </table>

{% endif %}

</body>
</html>